
@{
    ViewBag.Title = "LoggaUt";
}
@*Knapp till startsidan.*@
<h2>LoggaUt</h2>
@using (Html.BeginForm("Index", "Start"))
{
    <input type="submit" value="Till Startsidan" class="btn btn-default" />
}

